@inject IJSRuntime JS;

<div class="container">
    <canvas id="@ChartId" width="500" height="100"></canvas>
</div>

@code {
    [Parameter] public string ChartId { get; set; } = $"chart-{Guid.NewGuid()}";
    [Parameter] public string ChartType { get; set; } = "line";
    [Parameter] public List<string> Labels { get; set; } = new();
    [Parameter] public List<int> DataPoints { get; set; } = new();
    [Parameter] public List<string> BackgroundColors { get; set; } = new();
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("CreateChartLine", ChartId, ChartType, Labels, DataPoints, BackgroundColors);
        }
    }
}